APP_NAME=Event Management Platform
ENVIRONMENT=dev
SQL_DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/event_management
MONGO_URL=mongodb://mongo:27017
MONGO_DB_NAME=event_management
ALLOW_SQLITE_AUTO_CREATE=false

